<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruijie.listenevent.dao.GroupMemberMapper">

    <insert id="insert" parameterType="com.ruijie.listenevent.entity.GroupMemberEntity" useGeneratedKeys="true"
            keyProperty="id">
     insert into group_member (type, member, executor,salary, date, group_id)
      values (#{type},#{member},#{executor},#{salary},#{date},#{groupId})
    </insert>

    <update id="createNewTable" parameterType="String">
        CREATE TABLE IF NOT EXISTS ${tableName} (
          id bigint(20) NOT NULL AUTO_INCREMENT,
          type varchar(64),
          member varchar(64),
          salary int(64),
          executor varchar(64),
          date varchar(64),
          group_id int(64),
          PRIMARY KEY (id))
    </update>
    <!-- id 与接口方法名一致，resultType 为返回的实体类全类名 -->
    <select id="getMembers" resultType="com.ruijie.listenevent.entity.GroupMemberEntity">
        SELECT * from group_member  <!-- #{id} 引用输入参数（预编译，防止 SQL 注入） -->
    </select>

</mapper>