<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruijie.listenevent.dao.GroupMapper">

    <insert id="insert" parameterType="com.ruijie.listenevent.entity.GroupEntity" useGeneratedKeys="true"
            keyProperty="id">
     insert into group_info (group_name,date)
      values (#{groupName},#{date})
    </insert>

    <update id="createNewTable" parameterType="String">
-- 不能用group和groups作为表名，否则会报错
        CREATE TABLE IF NOT EXISTS ${tableName} (
          id bigint(20) NOT NULL AUTO_INCREMENT,
          group_name varchar(64),
          date timestamp (6),
          PRIMARY KEY (id))
    </update>

</mapper>